* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
}
.container {
    display: flex;
    margin: 20px 0;
    list-style: none;
}
.container button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
}
.container button:hover {
    color: #ce0505;
    border-color: #ce0505;
}
.btn-box button {
    padding: 0 20px;
    height: 40px;
    border: none;
    text-align: center;
    border-radius: 10px;
}
.btn-box {
    display: flex;
}